.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
}

.particle {
    position: absolute;
    font-size: 1.5rem;
    pointer-events: none;
}